<div class="block">
<button (click)="openMenu(menu.USERS)">Users</button>
<button (click)="openMenu(menu.BOOKS)">Books</button>
<button (click)="openMenu(menu.BORROWINGS)">Borrowings</button>
</div>


<div class="block">
<div *ngIf="actualMenu==menu.USERS"><br>
  ID :<input [(ngModel)]="user.userId"><p></p>
  Name :<input [(ngModel)]="user.userName"><p></p><p></p>
  Contact : <input [(ngModel)]="user.contact" ><p></p>
  <!--(click)="pridaj()"-->
  <button (click)="pridaj()">Add</button><br><br>
  <p class="list">Zoznam:</p>
  <div *ngFor="let u of users">
    Id: <b>{{u.userId}}</b>&nbsp;&nbsp;Name: <b>{{u.userName}}</b>&nbsp;&nbsp;Contact: <b>{{u.contact}}</b>
  </div>
</div>
</div>


<div class="block">
<div *ngIf="actualMenu==menu.BOOKS"><br>
  ID :<input [(ngModel)]="book.bookId"><p></p>
  Name :<input [(ngModel)]="book.bookName"><p></p>
  Author : <input [(ngModel)]="book.author"><p></p>
  Available :<input [(ngModel)]="book.available"><p></p>
  <button (click)="pridaj()">Add</button><br><br>
  <p class="list">Zoznam:</p>
  <div *ngFor="let b of books">
    Id: <b>{{b.bookId}}</b>&nbsp;&nbsp;Name: <b>{{b.bookName}}</b>&nbsp;&nbsp;Author: <b>{{b.author}}</b>&nbsp;&nbsp;Available: <b>{{b.available}}</b>
  </div>
</div>
</div>


<div class="block">
<div *ngIf="actualMenu==menu.BORROWINGS"><br>
    ID :<input [(ngModel)]="borrowing.borrowingId"><p></p>
    Book :<input [(ngModel)]="borrowing.borrowingBook"><p></p>
    User : <input [(ngModel)]="borrowing.borrowingUser"><p></p>
  <button (click)="pridaj()">Add</button><br><br>
  <p class="list">Zoznam:</p>
  <div *ngFor="let bw of borrowings">
    User with id: <b>{{bw.borrowingId}}</b>&nbsp;&nbsp;Book: <b>{{bw.borrowingBook}}</b>&nbsp;&nbsp;User: <b>{{bw.borrowingUser}}</b>
    <div *ngFor="let b of books">
      Name of the book: <b>{{b.bookName}}</b>&nbsp;&nbsp;Author: <b>{{b.author}}</b>&nbsp;&nbsp;Available: <b>{{b.available}}</b>
    </div>
    <div *ngFor="let u of users">
      Name: <b>{{u.userName}}</b>&nbsp;&nbsp;Contact: <b>{{u.contact}}</b>
    </div>
  </div>
</div><

  <!--(click)="pridaj()"-->
</div>


