<div class="block">

  <div *ngIf="!users || users?.length === 0">
    List of users is empty.
  </div>


  <table class="table" *ngIf="users?.length > 0">
    <thead>
    <tr>
      <th>Username</th>
      <th>Contact</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let u of users">
      <td>{{ u.userName }}</td>
      <td>{{ u.contact }}</td>
      <td>
        <button (click)="uprav(user)">Edit</button>
        <button (click)="zmaz(user)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>

